@charset "utf-8";
@import "compass/css3";
@import "compass/utilities/general/clearfix";

$_single-width: 300;

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.view-wrapper {
  width: 100%;
  overflow: hidden;
}

.view {
  width: #{$_single-width}px;
  margin-right: auto;
  margin-left: auto;
}
.qflipper {
  @include clearfix;
}
.item {
  width: #{$_single-width}px;
  height: 240px;
  @include box-sizing('border-box');
  border: solid 1px #f1f2f3;
  float: left;
}
